@model WebApplication2.ViewModel.CustomerEditViewModel

@{
    ViewBag.Title = "Customer";
}
<h2>Customer</h2>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Create a new customer by entering the customer name, country, and region.</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(x => Model.SelectedHolidayYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownListFor(x => Model.SelectedHolidayYear, new SelectList(Model.HolidayYears, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "HolidayYear" })
           
        </div>
    </div>
  </div>
  
}

<div>
    <table>
        <thead>
            <tr><th>Holiday Date</th></tr>
        </thead>
       <tbody id="content"></tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   
    <script type="text/javascript">
          $('#HolidayYear').change(function () {
                var selectedYear= $("#HolidayYear").val();
                var regionsSelect = $('#content');
                regionsSelect.empty();
                if (selectedYear != null && selectedYear != '') {
                    $.getJSON('@Url.Action("GetHoliday")', { year: selectedYear }, function (holidays) {
                        console.log(JSON.stringify(holidays));
                        if (holidays != null && !jQuery.isEmptyObject(holidays))
                        {                           
                            $.each(holidays, function (index, holiday) {
                                $("#content").append("<tr><td>" + holiday.displayDate + "</td></tr>");
                            });
                        };
                    });
                }
          });

  
    </script>
}